:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --orange-500: hsl(25, 97%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-950);
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.centralize {
  display: flex;
  justify-content: center;
  margin: 130px 20px;
}

.container {
  color: var(--white);
  background-color: var(--grey-900);
  max-width: 400px;
  padding: 30px;
  border-radius: 30px;
}

.image-star {
  margin-bottom: 30px;
}

p {
  font-size: 15px;
  color: var(--grey-500);
  margin-bottom: 20px;
}

h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: hsl(218, 17%, 22%);
  color: var(--white);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rating-button {
  color: var(--grey-500);
  font-weight: 700;
  cursor: pointer;
}

.rating-button:hover {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

.submit-button {
  border-radius: 30px;
  width: 100%;
  background-color: var(--orange-500);
  color: var(--grey-950);
  font-weight: 700;
}

.submit-button-actived:hover {
  background-color: var(--white);
  cursor: pointer;
}

.rating-button-actived {
  background-color: var(--white);
  color: var(--grey-950);
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 399px) {
  .rating-button {
    width: 45px;
    height: 45px;
  }

  .image-star {
    width: 45px;
    height: 45px;
  }

  .rating-button-actived {
    width: 45px;
    height: 45px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }
}
